<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title block allowing child pages to override-->
  <title>pastac-login</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="test/favicon.png">
  <!-- Bower Components-->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../dist/pastac-login.css" rel="stylesheet" type="text/css">

  <style>
  body {
    padding-left: 50px;
  }


        .navbar-brandZ
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin:0 auto;
        }
        .navbar-toggle {
            z-index:3;
        }

  </style>

</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="container">
      <h1>
        Component testing
      </h1>
      <h4>
        component: pastac-login
      </h4>
      <br/>
      <br/>

      <nav class="navbar navbar-default" ng-class="{'navbar-inverse': inverseColors}">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="test-navbar.html">Navbar</a></li>
            <li><a href="./test-modal.html">Modal</a></li>
            <li class="active"><a href="./test-page.html">On the page</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
          </ul>
        </div>
      </nav>
      <br/>
      <h3>Navbar with dropdown (template="page")</h3>

      <div class="row">
        <div class="col-md-6">

          <input type="checkbox" ng-model="inverseColors"> Use inverse navbar
          <br/>
          <input type="checkbox" ng-model="saySignin"> "Sign in", rather than "Login"
          <small>(signin="{{saySignin ? true : false}}")</small>
          <br/>
          <input type="checkbox" ng-model="hideRegister"> Hide the register option
          <small>(hide-register="{{hideRegister ? true : false}}")</small>
          <br/>
          <input type="checkbox" ng-model="hideForgot"> Hide the "forgot password" option
          <small>(hide-forgot="{{hideForgot ? true : false}}")</small>
          <br/>
          <input type="checkbox" ng-model="hideAvatar"> Use an icon instead of the user avatar
          <small>(hide-avatar="{{hideAvatar ? true : false}}")</small>
        </div>
        <div class="col-md-6">

          -- above the component --
          <br/>
          <pastac-login config="authserviceConfig" template="page" handler="userHandler" fresh-credentials="true" signin="saySignin" hide-register="hideRegister" hide-forgot="hideForgot" hide-avatar="hideAvatar"></pastac-login>
          -- below the component --
          <br/>
        </div>
      </div><!-- row -->



      <hr/>
      <h4>External scope</h4>
      {{currentUser}}
      <h4>TTUAT</h4>
      {{ttuat}}
      <hr/>


      <br/>
    </div>
  </div>
</body>
<script src="../bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>

<script src="http://drinkcircle-mvp.s3-website-ap-southeast-2.amazonaws.com/assets/vendor/authservice/authservice.js", type="text/javascript"></script>

<script>
var AUTHSERVICE_HOST = 'ratdev.authservice.io';
var AUTHSERVICE_PORT = 80;
var AUTHSERVICE_TENANT = 'nodeclient';
var AUTHSERVICE_USE_DUMMY_LOGIN = false;

</script>

<script src="../dist/pastac-login.js" type="text/javascript"></script>

<script>
var module = angular.module('myApp', [ 'pastac-login' ]);
module.controller('myCtrl', function($scope, $timeout) {

  $scope.authserviceConfig = {
    host: AUTHSERVICE_HOST,
    port: AUTHSERVICE_PORT,
    tenant: AUTHSERVICE_TENANT,
    dummyLogin: AUTHSERVICE_USE_DUMMY_LOGIN
  };
  $scope.userHandler = {
    onUserChange: function(user, ttuat, stale) {
      console.log('Wow, the user changed!', user);
      $scope.currentUser = user;
      $scope.ttuat = ttuat;
    }
  }

});
</script>
</html>
