/bower_components/
/node_modules/

.DS_Store
.*.swp
.editorconfig

/bin/slate/*.gem
/bin/slate/*.rbc
/bin/slate/.bundle
/bin/slate/.config
/bin/slate/coverage
/bin/slate/InstalledFiles
/bin/slate/lib/bundler/man
/bin/slate/pkg
/bin/slate/rdoc
/bin/slate/spec/reports
/bin/slate/test/tmp
/bin/slate/test/version_tmp
/bin/slate/tmp
/bin/slate/*.DS_STORE
/bin/slate/build/
/bin/slate/.cache
/bin/slate/.vagrant
/bin/slate/.sass-cache

/bin/slate/# YARD artifacts
/bin/slate/.yardoc
/bin/slate/_yardoc
/bin/slate/doc/
/bin/slate/.idea/
