block content



    #pastac-login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalMemberLoginLabel')
      .modal-dialog.modal-md(role='document')
        .modal-content
          .modal-header.signup-email
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
              img(src="assets/images/icon-close.png")
            //- button
            p
              a.link(href='') Need Help?
            //- p
          //- modal-header
          .modal-body
            .row
              .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                h2.text-center Welcome Back!
                p.text-center Please enter your password below to sign in.
                br
                .form-group
                  input.form-control(type='text', ng-model="ctrl.username", placeholder='Enter your email address')
                //- form-group
                .form-group
                  input.form-control(type='password', ng-model="ctrl.password", placeholder='Enter your Password')
                //- form-group
                div(ng-hide="!ctrl.loginError" role="alert" Zstyle="display:none;").alert.alert-danger
                  span.glyphicon.glyphicon-exclamation-sign.icon-center.aria-hidden
                  //- span.sr-only Error:
                  | {{ctrl.loginError}}
                a.jjj-btn.green.block(href='', ng-click="ctrl.doEmailSignin()") Continue
                p.or or
                a.jjj-btn.fb.block(ng-click="ctrl.initiateOAuth2('facebook')")
                  i.fa.fa-facebook
                  | &nbsp;Login with Facebook
                //- a
                p
                a.jjj-btn.gplus.block(ng-click="ctrl.initiateOAuth2('google')")
                  i.fa.fa-google-plus
                  | &nbsp;Login with Google +
                //- a
              //- col
            //- row
            .clearfix
              br
            //- clearfix
            a.jjj-btn.link.block(href='#pastac-signup-modal', data-toggle='modal', data-dismiss='modal') Sign up with your email
            br
            p.text-center
              | Forgot your password?&nbsp;
              a.link.green(href='', data-toggle='modal', data-dismiss='modal', id='authservice-reset-password') Reset it.
            //- p
          //- modal-body
        //- modal-content
      //- modal-dialog
    //- modal
    
    
    
    
    
    #pastac-signup-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalSignupEmailLabel')
      .modal-dialog.modal-md(role='document')
        .modal-content
          .modal-header.signup-email
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
              img(src="assets/images/icon-close.png")
            //- button
            p
              a.link(href='') Need Help?
            //- p
          //- modal-header
          .modal-body
            .row
              .col-sm-8.col-sm-offset-2
                .logo.text JinJerJade
                p.text-center Please sign in below, or sign up using your email or social account.
                br
                .form-group
                  form(name='myEmailForm')
                  input.form-control(type='email', placeholder='Enter your email address', ng-model="ctrl.register_email")
                  br
                  div(ng-hide="!ctrl.registerPassword")
                    input.form-control(type='password', ng-hide="!ctrl.registerPassword", placeholder='Enter your new password', ng-model="ctrl.register_password")
                    br
                  div(ng-hide="false && !ctrl.registerFirstName")
                    input.form-control(type='text', ng-hide="!ctrl.registerPassword", placeholder='Enter your first name', ng-model="ctrl.register_first_name")
                    br
                  div(ng-hide="false && !ctrl.registerLastName")
                    input.form-control(type='text', ng-hide="!ctrl.registerPassword", placeholder='Enter your last name', ng-model="ctrl.register_last_name")
                    br
                  span(class="error")
                  //- p.text-center Enter a valid email address.
                //- form-group
                a.jjj-btn.green.block(href='', data-toggle='modal', data-dismiss='modal', ng-click="ctrl.doRegister()") Continue
                p.or or continue with
                a.jjj-btn.fb.block(ng-click="ctrl.initiateOAuth2('facebook')")
                  i.fa.fa-facebook
                  | &nbsp;Login with Facebook
                //- a
                p
                a.jjj-btn.gplus.block(ng-click="ctrl.initiateOAuth2('google')")
                  i.fa.fa-google-plus
                  | &nbsp;Login with Google +
                //- a
              //- col
            //- row
            br
          //- modal-body
        //- modal-content
      //- modal-dialog
    //- modal
