block content


    //
    //
    //  SECTION FOR WHEN **NOT** SIGNED IN
    //
    //
    //- a.inline(href="", ng-hide="ctrl.user")
    //-   .glyphicon.glyphicon-user
    //-   | Sign Up
    //- a.dropdown-toggle(ng-hide="ctrl.user", href="", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
    //-   .glyphicon.glyphicon-log-in
    //-   span(ng-hide="ctrl.signin") &nbsp; Login &nbsp;
    //-   span(ng-hide="!ctrl.signin") &nbsp; Sign in &nbsp;
    a.dropdown-toggle.info#pastac-login-navbar-dropdown(ng-hide="ctrl.user", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false').red
      span.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-user.fa-stack-1x.fa-inverse
      span(ng-hide="ctrl.signin") &nbsp; Login &nbsp;
      span(ng-hide="!ctrl.signin") &nbsp; Sign in &nbsp;

      
    ul.dropdown-menu(ng-hide="ctrl.user", role="menu" aria-labelledby="signed-in-menu-button")
      // LOGIN
      li
        #authservice-login-div
          form(ng-hide="ctrl.mode!='login'")
            .form-group
              div(ng-if="ctrl.loginWithUsername")
                label Username / Email
                input(type="text" ng-model="ctrl.email").form-control
              div(ng-if="!ctrl.loginWithUsername")
                label Email
                input(type="email" ng-model="ctrl.email").form-control
            //- form-group
            .form-group
              label Password
              input(type="password" ng-model="ctrl.password").form-control
            //- form-group
            button.btn.btn-success.btn-block(ng-click="ctrl.doEmailSignin(); $event.stopPropagation();")
              span(ng-hide="ctrl.signin") Login
              span(ng-hide="!ctrl.signin") Sign in
              
            // Error message
            div(ng-hide="!ctrl.loginError")
              br
              .alert.alert-danger
                span.glyphicon.glyphicon-exclamation-sign.aria-hidden
                span.sr-only &nbsp;&nbsp;Error:
                | &nbsp;{{ctrl.loginError}}
              
            div(ng-hide="ctrl.hideForgot")
              br
              .text-center()
                a(ng-click="ctrl.setMode('forgot'); $event.stopPropagation();") Forgot password
            div(ng-hide="ctrl.hideRegister")
              br
              .text-center
                a(ng-click="ctrl.setMode('register'); $event.stopPropagation();") Register
              //- br
            br(ng-hide="!ctrl.facebook && !ctrl.google && !ctrl.github")
            button(ng-hide="!ctrl.facebook" type="button" ng-click="ctrl.initiateOAuth2('facebook')").btn.btn-block.btn-facebook
              i.fa.fa-facebook.left
              span(ng-hide="ctrl.signin") &nbsp;Login with Facebook
              span(ng-hide="!ctrl.signin") &nbsp;Sign in with Facebook
            button(ng-hide="!ctrl.google" type="button" ng-click="ctrl.initiateOAuth2('google')").btn.btn-block.btn-google
              i.fa.fa-google.left
              span(ng-hide="ctrl.signin") &nbsp;Login with Google
              span(ng-hide="!ctrl.signin") &nbsp;Sign in with Google
            button(ng-hide="!ctrl.github" type="button" ng-click="ctrl.initiateOAuth2('github')").btn.btn-block.btn-github
              i.fa.fa-github.left
              span(ng-hide="ctrl.signin") &nbsp;Login with Github
              span(ng-hide="!ctrl.signin") &nbsp;Sign in with Github
            div(ng-repeat="item in ctrl.loggedOutMenuItems")
              br
              .text-center
                a(ng-click="ctrl.onMenuItem(item.tag);")
                  | {{item.label}}
              //- br
            
          //- form
          //- div
        //- div
      //- li





      // FORGOT PASSWORD
      li(ng-hide="ctrl.mode!='forgot'").text-center
        //- a(id="ZZauthservice-forgot-button" href="#") Forgot password
        #authservice-forgot-div
          h4 Forgotten Password
          p
            | Forgot your password? No problem. Enter your email address below and we'll
            | well send an email with a link to reset your password.
          form
            div.form-group
              input(type="email" ng-model="ctrl.forgot_email" placeholder="Email" autocomplete="off").form-control
            button.btn.btn-info(ng-click="ctrl.doForgot()")
              .spinner.glyphicon.glyphicon-refresh(ng-hide="!ctrl.forgotInProgress")
              | Send the email
            button.btn.btn-default(ng-click="ctrl.setMode('login'); $event.stopPropagation();")
              | cancel
          //- form
          div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
            span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
            span.sr-only Error:
            | Invalid email / password
        //- div
        div(id="authservice-forgot-done" style="display:none;")
          p
            | We have sent an email to <div id="authservice-forgot-email2"></div> with
            | instructions to reset your password.
          button(type="submit" id="authservice-forgot-ok").btn.btn-default ok
        //- div
      //- li


      // REGISTER
      li(ng-hide="ctrl.mode!='register'").text-center
        div(id="authservice-register-div")
          h4 Register
          form
            p
              | Hi!
              | Enter your details and we'll be happy to sign you up.
            //- p
            div.form-group(ng-if="ctrl.loginWithUsername")
              .control-group(ng-if="!ctrl.validatingUsername")
                input.form-control(type="text" ng-model="ctrl.register_username" placeholder="Choose a username" ng-model-options="{ debounce: 800 }" ng-change="ctrl.validateUsername()")
                div(ng-if="ctrl.register_username && ctrl.usernameErrorMessage")
                  br
                  .alert.alert-warning
                    | {{ctrl.usernameErrorMessage}}
              .input-group(ng-if="ctrl.validatingUsername")
                input.form-control(type="text" ng-model="ctrl.register_username" placeholder="Choose a username" ng-model-options="{ debounce: 800 }" ng-change="ctrl.validateUsername()")
                .input-group-addon#register-username
                  .spinner-right.glyphicon.glyphicon-refresh

            div.form-group
              input(type="email" ng-model="ctrl.register_email" placeholder="Email" autocomplete="off").form-control
            //- div
            div.form-group(ng-hide="!ctrl.registerWithField('password')")
              // Trying to prevent autocomplete
              // See https://stackoverflow.com/questions/25823448/angular-ng-form-and-autocomplete-off
              input(type="password" ng-model="ctrl.register_password" placeholder="Password" autocomplete="new-password").form-control
            //- div
            div(ng-hide="!ctrl.registerWithField('first_name')")
              input.form-control(type='text', ng-model="ctrl.register_first_name", placeholder='First name')
              br
            div(ng-hide="!ctrl.registerWithField('middle_name')")
              input.form-control(type='text', ng-model="ctrl.register_middle_name", placeholder='Middle name')
              br
            div(ng-hide="!ctrl.registerWithField('last_name')")
              input.form-control(type='text', ng-model="ctrl.register_last_name", placeholder='Last name')
              br
            a.btn.btn-info(href="#" ng-click="ctrl.doRegister(); $event.stopPropagation();" ng-disabled="ctrl.loginWithUsername && (ctrl.register_username=='' || !ctrl.usernameErrorMessage)")
              .spinner.glyphicon.glyphicon-refresh(ng-hide="!ctrl.registerInProgress")
              | register
            button.btn.btn-default(href="#" ng-click="ctrl.register_password=''; ctrl.setMode('login'); $event.stopPropagation();") cancel
          //- form
          div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
            span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
            span.sr-only Error:
            | Invalid email / password
          //- div
        //- authservice-register-div -->
        
        
        div(id="authservice-register-done" style="display:none;")
          p
            | Congratulations, you now have a user account.
            | We have sent you an email to verify you email address.
          p
            | Please take a moment to check your email and complete
            | the registration process.
          button(type="submit" id="authservice-register-ok").btn.btn-default ok
        //- div
      //- li
      



    //- ul




    //
    //
    //  SECTION FOR WHEN WE **ARE** SIGNED IN
    //
    //
    //- a#signed-out-menu-button.dropdown-toggle(href="", ng-hide="!ctrl.user", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    //-   img.authservice-login-navbar-avatar(ng-hide="ctrl.hideAvatar" ng-src="{{ctrl.user.avatar}}", ng-cloak)
    //-   .glyphicon.glyphicon-user(ng-hide="!ctrl.hideAvatar")
    //-   | &nbsp; {{ctrl.user.firstname}}
    a.dropdown-toggle.info(ng-hide="ctrl.hideLogout || !ctrl.user" data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' ng-cloak)
      img.pastac-login-navbar-avatar(ng-hide="!ctrl.user.avatar" ng-src="{{ctrl.user.avatar}}", alt="")
      span(ng-hide="ctrl.user.avatar").fa-stack.fa
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-user.fa-stack-1x.fa-inverse
      | &nbsp;{{ctrl.user.firstname}}
      
    ul.dropdown-menu(ng-hide="ctrl.hideLogout || !ctrl.user", role="menu" aria-labelledby="signed-out-menu-button")
      //- li.divider(role='separator')
      li(ng-repeat="item in ctrl.loggedInMenuItems")
        a(data-toggle='modal' ng-click="ctrl.onMenuItem(item.tag);")
          | {{item.label}}

      li
        a(Zid="authservice-logout-button" data-toggle='modal' ng-click="ctrl.doLogout()")
          span(ng-hide="ctrl.signin") Logout
          span(ng-hide="!ctrl.signin") Sign out
      //- li
    //- ul
