block content


    //
    //
    //  SECTION FOR WHEN **NOT** SIGNED IN
    //
    //
    //- a.inline(href="", ng-hide="ctrl.user")
    //-   .glyphicon.glyphicon-user
    //-   | Sign Up
    a.dropdown-toggle(ng-hide="ctrl.user", href="", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
      .glyphicon.glyphicon-log-in
      span(ng-hide="ctrl.signin") &nbsp; Login &nbsp;
      span(ng-hide="!ctrl.signin") &nbsp; Sign in &nbsp;
      
    ul.dropdown-menu(ng-hide="ctrl.user", role="menu" aria-labelledby="signed-in-menu-button")
      // LOGIN
      li
        #authservice-login-div
          form
            .form-group
              label Username
              input(type="email" id="authservice-login-username").form-control
            //- form-group
            .form-group
              label Password
              input(type="password" id="authservice-login-password").form-control
            //- form-group
            button(type="submit" id="authservice-login-submit" onclick="return false;").btn.btn-success.btn-block Sign in
            //- p
            //- .text-center
            //-   small
            //-     a(href='') Forgot password?
          //- form
          div(id="authservice-login-errmsg" role="alert" style="display:none;").alert.alert-danger
            span.glyphicon.glyphicon-exclamation-sign.aria-hidden
            span.sr-only Error:
            | Invalid email / password
          //- div
        //- div
      //- li

      // FORGOT PASSWORD
      li(ng-hide="ctrl.hideForgot")
        a(id="authservice-forgot-button" href="#") Forgot password
        div(id="authservice-forgot-div" style="display:none;")
          p
            | Forgot your password? No problem. Enter your email address below and we'll
            | well send you an email with a link to reset your password.
          form
            div.form-group
              input(type="email" id="authservice-forgot-username" placeholder="Email").form-control
            button(type="submit" id="authservice-forgot-submit").btn.btn-default Send the email
            button(type="submit" id="authservice-forgot-cancel").btn.btn-default cancel
          //- form
          div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
            span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
            span.sr-only Error:
            | Invalid email / password
        //- div
        div(id="authservice-forgot-done" style="display:none;")
          p
            | We have sent an email to <div id="authservice-forgot-email2"></div> with
            | instructions to reset your password.
          button(type="submit" id="authservice-forgot-ok").btn.btn-default ok
        //- div
      //- li


      // REGISTER
      li(ng-hide="ctrl.hideRegister")
        a(id="authservice-register-button" href="#") Register
        div(id="authservice-register-div" style="display:none;")
          form
            p
              | Hi!
              | Enter your email address and a password and we'll
              | be happy to sign you up.
            //- p
            div.form-group
              input(type="email" id="authservice-register-username" placeholder="Email").form-control
            //- div
            div.form-group
              input(type="password" id="authservice-register-password" placeholder="Password").form-control
            //- div
            button(type="submit" id="authservice-register-submit").btn.btn-default register
            button(type="submit" id="authservice-register-cancel").btn.btn-default cancel
          //- form
          div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
            span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
            span.sr-only Error:
            | Invalid email / password
          //- div
        //- authservice-register-div -->
        
        
        div(id="authservice-register-done" style="display:none;")
          p
            | Congratulations, you now have a user account.
            | We have sent you an email to verify you email address.
          p
            | Please take a moment to check your email and complete
            | the registration process.
          button(type="submit" id="authservice-register-ok").btn.btn-default ok
        //- div
      //- li
    //- ul




    //
    //
    //  SECTION FOR WHEN WE **ARE** SIGNED IN
    //
    //
    a#signed-out-menu-button.dropdown-toggle(href="", ng-hide="!ctrl.user", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
      img(ng-hide="ctrl.hideAvatar" style="display:none;" ng-src="user.avatar", alt="" ng-cloak)
      .glyphicon.glyphicon-user(ng-hide="!ctrl.hideAvatar")
      | &nbsp; {{ctrl.user.firstname}}
    ul.dropdown-menu(ng-hide="!ctrl.user", role="menu" aria-labelledby="signed-out-menu-button")
      li.divider(role='separator')
      li
        a(id="authservice-logout-button" data-toggle='modal')
          span(ng-hide="ctrl.signin") Logout
          span(ng-hide="!ctrl.signin") Sign out
      //- li
    //- ul
